.u-section-1 {
  background-image: linear-gradient(#333333, #1a1a1a);
}

.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-slider-1 {
  margin-top: 60px;
  margin-bottom: 0;
  min-height: 607px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 23px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-group-1 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  height: auto;
  margin: 42px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 520px;
  height: 464px;
  margin: -464px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 43px;
}

.u-section-1 .u-group-2 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  height: auto;
  margin: 42px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 40px 33px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px 7px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 7px 0;
}

.u-section-1 .u-image-2 {
  width: 520px;
  height: 464px;
  margin: -464px 7px 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 591px;
    height: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-group-1 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-group-2 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 50px;
    margin-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 906px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 22px 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 375px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-group-2 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 22px 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 375px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: url("images/pexels-photo-325185.jpeg");
  background-position: 50% 0%;
}

.u-section-2 .u-sheet-1 {
  min-height: 543px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 460px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 26px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 153px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 153px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 153px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 153px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 153px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}