.u-section-1 {
  background-image: none;
  min-height: 816px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 816px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 80px;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  margin: 117px 0 0;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("images/photo_2021-05-26_20-47-41.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  margin: -107px 0 0 161px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 13px 0 0 161px;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 134px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 816px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 90px;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  text-decoration: none solid rgb(128, 128, 128);
  margin: 13px 0 0;
}

.u-section-1 .u-form-1 {
  margin: 30px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  width: 100%;
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 804px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 804px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -108px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 66px;
    margin-right: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 804px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }
}